.vs/magical-mirai/FileContentIndex/3f4bb55c-921e-46be-b8a4-68e64dd36f2d.vsidx
.vs/magical-mirai/FileContentIndex/bbc5d61e-2ffd-4bca-ae2e-fd49a78172ac.vsidx
.vs/slnx.sqlite
.vs/magical-mirai/FileContentIndex/542e7704-c5e4-4163-bc0f-f7b5b22fe361.vsidx
